# App Configurations
APP_NAME="MOVICO Recommendation Service"
APP_ENV=development
DEBUG=true
PORT=8000
SECRET_KEY="replace-this-with-a-very-secure-random-key"
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database Configurations (PostgreSQL)
POSTGRES_USER=movico_user
POSTGRES_PASSWORD=movico_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=movico_db

# Redis Caching Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CACHE_EXPIRE_SECONDS=3600

# Model & Data Configuration
DATA_DIR="./data"
MODELS_DIR="./models_checkpoint"
MOVIELENS_DATASET_URL="https://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
RECOMMENDATION_LIMIT=10
COLD_START_THRESHOLD=5
